[submodule "Game-Front-End"]
	path = Game-Front-End
	url = git@github.com:Meia-noite-eu-te-conto/Game-Front-End.git
[submodule "Game-Core"]
	path = Game-Core
	url = git@github.com:Meia-noite-eu-te-conto/Game-Core.git
[submodule "User-Session"]
	path = User-Session
	url = git@github.com:Meia-noite-eu-te-conto/User-Serssion.git
[submodule "Game-BFF"]
	path = Game-BFF
	url = git@github.com:Meia-noite-eu-te-conto/Game-BFF.git
