[submodule "Game-Core"]
	path = Game-Core
	url = git@github.com:ThreeDP/Pung-Game-Core.git
[submodule "User-Session"]
	path = User-Session
	url = git@github.com:ThreeDP/Pung-User-Session.git
[submodule "Pung-App"]
	path = Pung-App
	url = git@github.com:ThreeDP/trans-app.git
[submodule "guardian"]
	path = guardian
	url = git@github.com:davypaulino/guardian.git
